.homePageContainer {
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.homePageFeedPosts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: white;
}


.homePageLayout {
    display: grid;
    grid-template-columns: 9fr 3fr;
}

.hallOfFameSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    padding-left: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
