.homePageContainer {
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.homePageFeedPosts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.homePageLayout {
    display: grid;
    grid-template-columns: 9fr 3fr;
    //gap: 1rem;
}

.hallOfFameSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 0.75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
