# ===== OS =====
.DS_Store
Thumbs.db

# ===== ENV =====
.env
.env.local
.env.production

# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/build/

# ===== BACKEND =====
backend/target/
backend/*.log

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== MISC =====
*.log
