*,
*::before,
*::after {
    box-sizing: border-box;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.loginTitle {
    font-family: "Roboto", monospace;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 4rem;
}

.loginForm {
    background-color: white;
    border-radius: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.formLabel {
    font-family: "Roboto", monospace;
    font-weight: 400;
    font-size: 1rem;
}

form {
    width: 100%;
}

.inputSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

input {
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border: 2px solid #E8E8E8;
    border-radius: 6px;
    font-size: 1rem;
}


.loginButton {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E93F00;
    color: white;
    padding: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", monospace;
    font-weight: 400;
    font-size: 1rem;
}

.registerButton:hover {
    background-color: #CC3800;
    color: #F0F0F0;
}