* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleName {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.container {
    background-color: #FFFFFF;
    padding: 1rem 2.5rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authModalContainer {
    position: relative;
}

.publishButton,
.homeButton {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E93F00;
    color: white;
    padding: 0.75rem;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.publishButton:hover {
    background-color: #CC3800;
    color: #F0F0F0;
}

.navbarButtonsSection {
    display: flex;
    gap: 0.5rem;
}

.userMenu {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.usernameStyle {
    font-family: Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    color: black;
    font-weight: 550;
}

.avatarWrapperNavbar {
    cursor: pointer;
}

.navbarAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #eee;
}