.topContributorsSection {
    background-color: #F0F0F0;
    border-radius: 0.75rem;
    padding: 1.25rem;
}

.topContributorsTitleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topLikedList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
}

.topLikedItem {
    // display: flex;
    // align-items: flex-start;
    // gap: 0.75rem;
    padding: 0.6rem 0.75rem;
    border-radius: 8px;
    background: #fafafa;
    transition: background 0.2s ease;

    &:hover {
        background: white;
    }
}


.contributorLayout {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.contributorClickableLink {
    font-size: 0.95rem;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    line-height: 1.3;

    &:hover {
        text-decoration: underline;
    }
    img {
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid #111;
    }

    display: flex;
    align-items: center;
    gap: 1rem;
}


.contributedPostsCount {
    margin-left: auto;
    font-size: 1rem;
    color: #444;
    white-space: nowrap;
}